body{

}
nav{
position:absolute;
width: 5%;
top:2.5%;
height:95%;
border-radius:5px;
border: 2px;
border-color: black;
border-style: solid;
}
.container-1{
position:absolute;
width:28.5%;
height:95%;
border-radius: 5px;
left: 7.5%;
top:2.5%;
border: 2px;
border-color: black;
border-style: solid;
}
.container-2{
  position:absolute;
  width:28.5%;
  height:95%;
  border-radius: 5px;
  left: 38.3%;
  top:2.5%;
  border: 2px;
  border-color: black;
  border-style: solid;

}
.container-3{
  position:absolute;
  width:28.5%;
  height:95%;
  border-radius: 5px;
  left: 69.1%;
  top:2.5%;
  border: 2px;
  border-color: black;
  border-style: solid;
}
.chart-time{
  position:absolute;
  top:27%;
}
.time-button{
  margin:18px;
  width:30px;
  border-radius:5px;
  outline: none;
  outline-color: none;
  border:none;
  background-color: #5199FF;
  color:#fff;
  font-style: normal;
  font-family: "Times New Roman", times, serif;
}
.container-3-element{
  position:absolute;
  top: 20%;
  display: block;
  height: 100px;
  width: 90%;
  border-radius: 10px;
  margin-left: 5%;
  background-color: #5199FF;
  

}
