.contact-list{
height:750px;
width:20%;
position:relative;
left:10%;
background-color: blue;
}
.contact-list-profiles{

}
.messages{
  height:750px;
  width:20%;
  position:absolute;
  left:20%;
  background-color: blue;
}
.mode-bar{

}
